<!DOCTYPE html>
<html>
<head>
    <title>Sports Web App</title>
</head>
<body>
    <header class="container site-header">
        <div class="row">
            <h1 class="main-logo"><a href="/">Sports Web App</a></h1>
        </div>
        <div class="row">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="/About">About</a></li>
                    <li><a href="/Blog/Index">Blog</a></li>
                    <li><a class="active" href="/">Players</a></li>
                    <li><a href="/Portfolio">Portfolio</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
                <ul class="nav nav-pills">
                    <li>
                        <a href="/Account/Login">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <h2 class="title">My Favorite Players</h2>
        </div>
    </header>
    <div class="container">
        <div class="row players">

            <div class="player col-md-4">
                <img class="img img-thumbnail" src="http://topsyturvycakedesign.com/img/birthday-cake-for-fido.jpg" />
                <h3><a href="/Player">Birthday Cake for Fido</a></h3>
                <p>Treat your puppy to a delicious birthday treat!</p>
            </div>

        </div>

    </div>
    <footer>
        <div class="text-center">
            <span class="text-muted">Last Rendered:  </span>
        </div>
    </footer>
</body>
</html>