@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{ 
    ViewData["Title"] = "Index";
}

<h2>Leagues</h2>

<p>Default page for Leagues</p>